a
{
  text-decoration: none;

}
.input1:focus{background-color:aqua;}
.input2:focus{background-color:red;}
.input3:focus{background-color:green;}


.head
{color:grey;
}
.img1
{background-color: yellow;
}


.img2
{background-color:grey;
transform:rotate(45deg) translateY(100px);}
.img1:hover
{
  background-color: red;
  transform: rotate(360deg);
  transition: 10s;
}

.img2hover:hover{background-color: black;}
